[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "aws-ssm-ec2-proxy-command"]
	path = aws-ssm-ec2-proxy-command
	url = https://gist.github.com/ece931a655a137cd60f9af91b2747336.git
